.card {
    margin-left: 2rem;
    margin-bottom: 2rem;
    position: relative;

}

.bold {
    font-weight: bold;
}

.gray {
    color: #918E9B;
}



section {
    padding: 20px;
}



.hero--header {
    margin-bottom: 16px;
}

.hero--text {
    margin-top: 0;
}

.card {
    width: 220px;
    font-size: 0.9rem;
}

.card--image {
    width: 100%;
    border-radius: 9px;

}

.card--stats {
    display: flex;
    align-items: center;
}

.card--star {
    height: 14px;
}

.sold{
    position: absolute;
    top: 5px;
    font-family: Inter, "Segoe Fluent Icons", sans-serif;
    font-size: 0.7rem;
    background-color: #fdfdff;
    left: 5px;

}

